name: cdk synth ( dev )

on:
  push:
    branches:
      - '*'

env:
  AWS_ROLE_ARN: arn:aws:iam::887442827229:role/GithubActions_decidim-cfj-cdk

jobs:
  cdk_synth:
    name: cdk synth
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      actions: write
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: aws switch role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ap-northeast-1

      - name: CDK Synth
        run: npx cdk synth --context stage=dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_DEFAULT_REGION: 'ap-northeast-1'
