name: npm test

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '22' ]

    steps:
      - uses: actions/checkout@v5
      - name: Setup NodeJs
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - name: Install Dependencies
        run: npm install
      - name: Check code formatting
        run: npm run format:check
      - name: Run ESLint
        run: npm run lint
      - name: Run test
        run: npm test
